/* The following rules are deprecated. */

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/de55ae52af85b8952e65d1b546992618/MetropolisBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/ef50aa42a925d3c8a52d0e6828f2c66c/MetropolisBlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/dea4998b081c6c1133a3b5b08ff2218c/MetropolisBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/15b149fc383c85f27360a5736fa6e50d/MetropolisBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/d7eaa8ab58ec03f16c8d08389711f553/MetropolisExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/f1e8fdf108c2af1ebb791f40c1bd1868/MetropolisExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/c5ae09393655dab636f6d2e3d222137c/MetropolisExtraLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/414a434d6ad4b388afa68225a7e44597/MetropolisExtraLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/c82170e08b76657553ab939bd28e8515/MetropolisLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/2de2a64942ecaedbf0dc68270a8ce3b8/MetropolisLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/f4bca87fd0d19e61c27dc96299c75f8c/MetropolisMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/60eace1cb8db8096bcd15731bd3a35a3/MetropolisMediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/f7b5e589f88206b4bd5cb1408c5362e6/MetropolisRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/763b44257f3ad942e107551bff15b544/MetropolisRegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/2556a4f74e2c523893e6928d6e300f1c/MetropolisSemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/536778d712a7064c003705580236e03f/MetropolisSemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/152ab0324f4452c56f2622dc6262e9b6/MetropolisThin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fontlibrary.org/assets/fonts/metropolis/d0503ab3a6abf88e972c5bb91fc76da1/a10db35c6f484989bb7bd80b5e06b075/MetropolisThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}